<html>
<head>
  <title>Message Board</title>
  <link rel="stylesheet" href="/public/master.css" />
</head>
<body>
  <form method="POST" action="/login">
    <h4>login</h4>
    <h5 style="color: red">{{ loginError }}</h5>
    <input type="text" placeholder="email" name="email" />
    <input type="password" placeholder="password" name="password" />
    <input type="submit" value="login" />
  </form>
  <a href="/register">register for an account</a>
</body>
</html>
