<html>

<head>
  <title>Message Board</title>
  <link rel="stylesheet" href="/public/master.css" />
  </style>
</head>

<body>
  <form method="POST" action="/register">
    <h4>register</h4>
    <h5 style="color: red">{{ registerError }}</h5>
    <input type="text" placeholder="email" name="email" />
    <input type="password" placeholder="password" name="password" />
    <input type="submit" value="register" />
  </form>
</body>

</html>
